.cardcontainer {
    display: flex;
    flex-direction: column;
    height: 530px;
    /* padding: 20px; */
    width: 180px;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: linear-gradient(220.26deg, rgba(255, 255, 255, 0.25) 1.52%, rgba(255, 255, 255, 0.025) 83.2%);

}

.cardcontainer:hover {
    height: 490px;
    width: 300px;
    border: 2px solid white;
    border-radius: 30px;
    transition: .32s linear;
    /* transition: .33s ease-in; */
    padding: 20px
}

.cardcontainer {}

.cardcontainer:hover .img {
    height: 280px;
    width: 270px;
    margin-bottom: -10px;
    object-fit: fill;
}

.cardcontainer:hover .pdetail {
    display: block;

}

.cardcontainer:hover .detailbtn {
    display: block;
}

.cardcontainer:hover .title {
    font-size: 50px;
    color: white;
    rotate: +360deg;
    margin-bottom: -30px;
}

.img {
    margin-bottom: 80px;
    height: 180px;
    width: 150px;
    object-fit: fill;
}

.title {
    font-size: 30px;
    /* gap: 30px; */
    color: white;
    padding: 10px;
    rotate: -90deg;
    justify-content: space-around;
}

.pdetail {
    font-size: 15px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-top: 50px; */
    /* margin-bottom: -5px; */
    display: none;
}

.detailbtn {
    height: 30px;
    width: 170px;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: rgba(181, 37, 46, 1);
    padding: 5px;
    border-radius: 40px;
    font-size: 18px;
    display: none;
    border: 1px solid white;
}