.page7{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #EE535D 0%, #850C0C 115.08%);;
text-align: center;
display: flex;
flex-direction: column;
}
.heading{
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
color: white;
}
.infomation{
    display: flex;
    margin-left: 220px;
    margin-bottom: 40px;
  gap: 20px;
}
.text{
    height: 60px;
    width: 750px;
    border: 0.5px solid white;
    border-radius: 20px;
    font-size: 15px;
    background-color: transparent;
       padding-left: 20px;
}
.text::placeholder{
    font-size: 20px;
   color: white;
}
.email::placeholder{
     font-size: 20px;
   color: white;
}
.email{
    height: 60px;
    width: 750px;
     border-radius: 20px;
     background-color: transparent;
      border: 0.5px solid white;
      padding-left: 20px;
}
.textarea{
    height: 200px;
    width: 1560px;
     border-radius: 20px;
     background-color: transparent;
     color: white;
      border: 1px solid white;
      padding-left: 20px;
      font-size: 25px;
}
.headinggtwo{
    font-size: 35px;
    color: white;
}
.checkboxes{
    height: 50px;
    width: 1700px;
}

.check1{
    height: 53px;
    width: 500px;
    border: 1px solid white;
    text-align: start;
    color: white;
    padding-top: 15px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 20px;
}
.check2{
     height: 53px;
    width: 500px;
    border: 1px solid white;
    text-align: start;
    color: white;
    padding-top: 12px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 20px;
    margin-left: 530px;
}
.xox{
    height: 20px;
    width: 20px;
}
.checkboxpart1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 200px;
}
.btnn{
     height: 53px;
    width: 600px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 20px;
background: rgba(249, 194, 65, 1);

}
