.pagefivee {
  background-color: black;
  height: 195vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background: radial-gradient(
    89.92% 63.73% at 50% 50%,
    #ee535d 0%,
    #850c0c 100%
  );
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
}
.pg5section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px;
  gap: 50px;
}
.imgpg5 {
  margin-top: 60px;
  height: 510px;
  width: 575px;
  object-fit: cover;
}
.pgsection11 {
  margin-bottom: 50px;
}

.h2ofpg5 {
  font-size: 25px;
}

.h2color {
  background: linear-gradient(180deg, #ffffff 0%, #2e44ba 100%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.h2ofpg51 {
  font-size: 55px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 33pt;
}

.pofpg5 {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  line-height: 16pt;
  margin-top: 30px;
  font-weight: 390;
}

.bottle {
  height: 50px;
  width: 100%;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 25px;
  font-size: 30px;
  color: white;
  justify-content: space-between;
  font-weight: 100;
}

.pg5section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  height: 35px;
  width: 200px;
  border-color: transparent;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(
    220.26deg,
    rgba(255, 255, 255, 0.25) 1.52%,
    rgba(255, 255, 255, 0.025) 83.2%
  );
}

.usa {
  font-size: 18px;
  height: 36px;
  font-weight: 500;
  width: 150px;
  border-radius: 20px;
  background: transparent;
  border: 0cap;
  color: white;
  cursor: pointer;
}

.canada {
  font-size: 18px;
  height: 36px;
  font-weight: 500;
  width: 150px;
  border-radius: 20px;
  background: transparent;
  border: 0cap;
  color: white;
  cursor: pointer;
}

.canada.active {
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(189.18deg, #ffffff 5.92%, #2e44ba 81.6%);
  color: black;
}
.usa.active {
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(189.18deg, #ffffff 5.92%, #2e44ba 81.6%);
  color: black;
}

.h2ofpg52 {
  font-size: 50px;
  color: white;
  margin-top: -50px;
  font-weight: 500;
}

.pg5section3 {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 30px;
  gap: 30px;
}

.imgpg51 {
  height: 300px;
  width: 500px;
  margin-bottom: 200px;
  object-fit: cover;
}

.imgpg511 {
  height: 450px;
  width: 500px;
  margin-bottom: 230px;
  object-fit: cover;
}
.pofpg51 {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  height: 330px;
  font-weight: 600;
  width: 580px;
  border: 1px solid white;
  margin-bottom: 250px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
  color: rgba(20, 20, 20, 1);
  border-radius: 30px;
  line-height: 1.4;
  margin-left: 40px;
}
.pofpg511 {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  height: 430px;
  font-weight: 600;
  width: 550px;
  border: 1px solid white;
  margin-bottom: 250px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
  color: rgba(20, 20, 20, 1);
  border-radius: 30px;
  line-height: 1.4;
  margin-left: 40px;
}
/* for medium laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .pagefivee {
    background-color: black;
    height: 155vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background: radial-gradient(
      89.92% 63.73% at 50% 50%,
      #ee535d 0%,
      #850c0c 100%
    );
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
  }
  .pg5section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 40px;
  }
  .imgpg5 {
    margin-top: 50px;
    height: 460px;
    width: 490px;
    object-fit: cover;
  }
  .pgsection11 {
    margin-bottom: 40px;
  }
  .h2ofpg51 {
    font-size: 27px;
  }
  .pofpg5 {
    width: 450px;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    line-height: 16pt;
    margin-top: 25px;
    font-weight: 390;
  }
  .pg5section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 35px;
    width: 200px;
    border-color: transparent;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(
      220.26deg,
      rgba(255, 255, 255, 0.25) 1.52%,
      rgba(255, 255, 255, 0.025) 83.2%
    );
  }
  .pg5section3 {
    display: flex;
    flex-direction: row;
    padding-top: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 25px;
    gap: 25px;
  }
  .imgpg51 {
    height: 270px;
    width: 450px;
    margin-bottom: 200px;
    object-fit: cover;
  }
  .pofpg51 {
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    height: 320px;
    font-weight: 600;
    width: 450px;
    border: 1px solid white;
    margin-bottom: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px;
    background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
    color: rgba(20, 20, 20, 1);
    border-radius: 30px;
    line-height: 1.4;
    margin-left: 30px;
  }
  .imgpg511 {
    height: 360px;
    width: 400px;
    margin-bottom: 200px;
    object-fit: cover;
  }
  .pofpg511 {
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    height: 360px;
    font-weight: 600;
    width: 450px;
    border: 1px solid white;
    margin-bottom: 220px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
    color: rgba(20, 20, 20, 1);
    border-radius: 30px;
    line-height: 1.4;
    margin-left: 30px;
  }
}

/* for tablets */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .pagefivee {
    background-color: black;
    height: 175vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background: radial-gradient(
      89.92% 63.73% at 50% 50%,
      #ee535d 0%,
      #850c0c 100%
    );
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
  }
  .pg5section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 0px;
  }
  .imgpg5 {
    margin-top: 50px;
    height: 360px;
    margin-left: -50px;
    width: 380px;
    object-fit: cover;
  }
  .pgsection11 {
    margin-bottom: 40px;
  }
  .h2ofpg51 {
    font-size: 27px;
  }
  .pofpg5 {
    width: 400px;
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    line-height: 16pt;
    margin-top: 25px;
    font-weight: 390;
  }
  .pg5section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 35px;
    width: 200px;
    border-color: transparent;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(
      220.26deg,
      rgba(255, 255, 255, 0.25) 1.52%,
      rgba(255, 255, 255, 0.025) 83.2%
    );
  }
  .pg5section3 {
    display: flex;
    flex-direction: row;
    padding-top: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 25px;
    gap: 1px;
  }
  .imgpg51 {
    height: 250px;
    width: 340px;
    margin-bottom: 200px;
    object-fit: cover;
  }
  .pofpg51 {
    font-size: 10.8px;
    color: rgba(255, 255, 255, 1);
    height: 250px;
    font-weight: 600;
    width: 340px;
    border: 1px solid white;
    margin-bottom: 250px;
    /* margin-left: -40px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
    color: rgba(20, 20, 20, 1);
    border-radius: 30px;
    line-height: 1.2;
    margin-left: 30px;
  }
  .imgpg511 {
    height: 250px;
    width: 340px;
    margin-bottom: 200px;
    object-fit: cover;
  }
  .pofpg511 {
    font-size: 10.8px;
    color: rgba(255, 255, 255, 1);
    height: 285px;
    font-weight: 600;
    width: 340px;
    border: 1px solid white;
    margin-bottom: 220px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
    color: rgba(20, 20, 20, 1);
    border-radius: 30px;
    line-height: 1.4;
    margin-left: 30px;
  }
  .bottle {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 25px;
    font-size: 20px;
    color: white;
    justify-content: space-between;
    font-weight: 100;
  }
}

/* for large mobile */
@media screen and (min-width: 375px) and (max-width: 425px) {
  .pagefivee {
    background-color: black;
    height: 280vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background: radial-gradient(
      89.92% 63.73% at 50% 50%,
      #ee535d 0%,
      #850c0c 100%
    );
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
  }
  .pg5section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 0px;
  }
  .imgpg5 {
    margin-top: 50px;
    height: 280px;
    margin-left: -30px;
    width: 300px;
    object-fit: cover;
  }
  .pgsection11 {
    margin-bottom: 40px;
  }
  .h2ofpg51 {
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -10px;
  }
  .pofpg5 {
    width: 370px;
    font-size: 9px;
    color: rgba(255, 255, 255, 1);
    line-height: 16pt;
    margin-top: 25px;
    font-weight: 390;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -10px;
  }
  .pg5section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 35px;
    width: 200px;
    border-color: transparent;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(
      220.26deg,
      rgba(255, 255, 255, 0.25) 1.52%,
      rgba(255, 255, 255, 0.025) 83.2%
    );
  }
  .pg5section3 {
    display: flex;
    flex-direction: row;
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 25px;
    gap: 1px;
  }
  .imgpg51 {
    height: 200px;
    width: 340px;
    object-fit: cover;
  }
  .pofpg51 {
    font-size: 10.8px;
    color: rgba(255, 255, 255, 1);
    height: 220px;
    font-weight: 600;
    width: 340px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-top: -150px;
    background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
    color: rgba(20, 20, 20, 1);
    border-radius: 30px;
    line-height: 1.2;
    margin-left: -2px;
  }
  .imgpg511 {
    height: 200px;
    width: 340px;
    object-fit: cover;
  }
  .pofpg511 {
    font-size: 10.8px;
    color: rgba(255, 255, 255, 1);
    height: 250px;
    font-weight: 600;
    width: 340px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-top: -150px;
    background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
    color: rgba(20, 20, 20, 1);
    border-radius: 30px;
    line-height: 1.2;
    margin-left: -2px;
  }
  .bottle {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 25px;
    font-size: 10px;
    color: white;
    justify-content: space-between;
    font-weight: 100;
  }
  .pg5section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 25px;
    width: 140px;
    border-color: transparent;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(
      220.26deg,
      rgba(255, 255, 255, 0.25) 1.52%,
      rgba(255, 255, 255, 0.025) 83.2%
    );
  }
  .usa {
    font-size: 12px;
    height: 30px;
    font-weight: 500;
    width: 80px;
    border-radius: 20px;
    background: transparent;
    border: 0cap;
    color: white;
    cursor: pointer;
  }
  .canada {
    font-size: 14px;
    height: 30px;
    font-weight: 500;
    width: 80px;
    border-radius: 20px;
    background: transparent;
    border: 0cap;
    color: white;
    cursor: pointer;
  }
  .canada.active {
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(189.18deg, #ffffff 5.92%, #2e44ba 81.6%);
    color: black;
  }
  .usa.active {
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(189.18deg, #ffffff 5.92%, #2e44ba 81.6%);
    color: black;
  }
}

/* for small tablests */
@media screen and (min-width: 321px) and (max-width: 374px) {
  .pagefivee {
    background-color: black;
    height: 240vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background: radial-gradient(
      89.92% 63.73% at 50% 50%,
      #ee535d 0%,
      #850c0c 100%
    );
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
  }
  .pg5section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 0px;
  }
  .imgpg5 {
    margin-top: 50px;
    height: 280px;
    margin-left: -30px;
    width: 300px;
    object-fit: cover;
  }
  .pgsection11 {
    margin-bottom: 40px;
  }
  .h2ofpg51 {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
  }
  .pofpg5 {
    width: 320px;
    font-size: 8px;
    color: rgba(255, 255, 255, 1);
    line-height: 16pt;
    margin-top: 25px;
    font-weight: 390;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -10px;
  }
  .pg5section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 35px;
    width: 200px;
    border-color: transparent;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(
      220.26deg,
      rgba(255, 255, 255, 0.25) 1.52%,
      rgba(255, 255, 255, 0.025) 83.2%
    );
  }
  .pg5section3 {
    display: flex;
    flex-direction: row;
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 25px;
    gap: 1px;
  }
  .imgpg51 {
    height: 200px;
    width: 300px;
    object-fit: cover;
  }
  .pofpg51 {
    font-size: 9px;
    color: rgba(255, 255, 255, 1);
    height: 180px;
    font-weight: 600;
    width: 300px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-top: -150px;
    background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
    color: rgba(20, 20, 20, 1);
    border-radius: 30px;
    line-height: 1.2;
    margin-left: -2px;
  }
  .imgpg511 {
    height: 200px;
    width: 300px;
    object-fit: cover;
  }
  .pofpg511 {
    font-size: 9px;
    color: rgba(255, 255, 255, 1);
    height: 200px;
    font-weight: 600;
    width: 300px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-top: -150px;
    background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
    color: rgba(20, 20, 20, 1);
    border-radius: 30px;
    line-height: 1.2;
    margin-left: -2px;
  }
  .pg5section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 20px;
    width: 120px;
    border-color: transparent;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(
      220.26deg,
      rgba(255, 255, 255, 0.25) 1.52%,
      rgba(255, 255, 255, 0.025) 83.2%
    );
  }
  .usa {
    font-size: 12px;
    height: 25px;
    font-weight: 500;
    width: 80px;
    border-radius: 20px;
    background: transparent;
    border: 0cap;
    color: white;
    cursor: pointer;
  }
  .canada {
    font-size: 12px;
    height: 25px;
    font-weight: 500;
    width: 80px;
    border-radius: 20px;
    background: transparent;
    border: 0cap;
    color: white;
    cursor: pointer;
  }
  .canada.active {
    font-size: 12px;
    font-weight: 500;
    background: linear-gradient(189.18deg, #ffffff 5.92%, #2e44ba 81.6%);
    color: black;
  }
  .usa.active {
    font-size: 12px;
    font-weight: 500;
    background: linear-gradient(189.18deg, #ffffff 5.92%, #2e44ba 81.6%);
    color: black;
  }
}

/* for small mobiles */
@media screen and (min-width: 200px) and (max-width: 320px) {
  .pagefivee {
    background-color: black;
    height: 255vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background: radial-gradient(
      89.92% 63.73% at 50% 50%,
      #ee535d 0%,
      #850c0c 100%
    );
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
  }
  .pg5section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 0px;
  }
  .imgpg5 {
    margin-top: 30px;
    height: 250px;
    margin-left: -50px;
    width: 250px;
    object-fit: cover;
  }
  .pgsection11 {
    margin-bottom: 40px;
  }
  .h2ofpg51 {
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
  }
  .pofpg5 {
    width: 270px;
    font-size: 7px;
    color: rgba(255, 255, 255, 1);
    line-height: 16pt;
    margin-top: 25px;
    font-weight: 390;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
  }
  .bottle {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 25px;
    font-size: 18px;
    color: white;
    justify-content: space-between;
    font-weight: 100;
  }
  .pg5section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 35px;
    width: 200px;
    border-color: transparent;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(
      220.26deg,
      rgba(255, 255, 255, 0.25) 1.52%,
      rgba(255, 255, 255, 0.025) 83.2%
    );
  }
  .pg5section3 {
    display: flex;
    flex-direction: row;
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 25px;
    gap: 1px;
  }
  .imgpg51 {
    height: 180px;
    width: 260px;
    object-fit: cover;
    margin-right: 20px;
  }
  .pofpg51 {
    font-size: 8px;
    color: rgba(255, 255, 255, 1);
    height: 180px;
    font-weight: 500;
    width: 250px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-top: -150px;
    background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
    color: rgba(20, 20, 20, 1);
    border-radius: 30px;
    line-height: 1.2;
    /* margin-left: -2px; */
    margin-right: 25px;
  }
  .imgpg511 {
    height: 180px;
    width: 260px;
    object-fit: cover;
  }
  .pofpg511 {
    font-size: 8px;
    color: rgba(255, 255, 255, 1);
    height: 200px;
    font-weight: 500;
    width: 250px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-top: -150px;
    background: linear-gradient(156.83deg, #ffffff -16.11%, #2e44ba 131.66%);
    color: rgba(20, 20, 20, 1);
    border-radius: 30px;
    line-height: 1.2;
    margin-left: -2px;
  }
  .pg5section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    height: 20px;
    width: 120px;
    border-color: transparent;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(
      220.26deg,
      rgba(255, 255, 255, 0.25) 1.52%,
      rgba(255, 255, 255, 0.025) 83.2%
    );
  }
  .usa {
    font-size: 12px;
    height: 25px;
    font-weight: 500;
    width: 80px;
    border-radius: 20px;
    background: transparent;
    border: 0cap;
    color: white;
    cursor: pointer;
  }
  .canada {
    font-size: 12px;
    height: 25px;
    font-weight: 500;
    width: 80px;
    border-radius: 20px;
    background: transparent;
    border: 0cap;
    color: white;
    cursor: pointer;
  }
  .canada.active {
    font-size: 12px;
    font-weight: 500;
    background: linear-gradient(189.18deg, #ffffff 5.92%, #2e44ba 81.6%);
    color: black;
  }
  .usa.active {
    font-size: 12px;
    font-weight: 500;
    background: linear-gradient(189.18deg, #ffffff 5.92%, #2e44ba 81.6%);
    color: black;
  }
}
