.pagefivee{
 background-color: black;
 height: 180vh;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 width: 95vw;
 background: radial-gradient(89.92% 63.73% at 50% 50%, #EE535D 0%, #850C0C 100%);
border-radius: 25px;
 margin:30px;
 font-family: "Poppins", sans-serif;
}
.imgpg5{
height: 750px;
width: 840px;
margin-bottom: 30px;
object-fit: cover;
}
.pg5section1{
     display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 margin: 95px;
gap: 80px;
}
.pgsection11{
    margin-bottom: 100px;
}
.h2ofpg5{
    font-size: 50px;
}
.h2color{
   background: linear-gradient(180deg, #FFFFFF 0%, #2E44BA 100%);
   -webkit-background-clip:text;
   color: transparent;
   display: inline-block;
}
.h2ofpg51{
font-size: 73px;
font-weight: 500;
color:rgba(255, 255, 255, 1);
line-height: 68pt;
}
.pofpg5{
    font-size: 22px;
   /* padding-right: 20px; */
   color:rgba(255, 255, 255, 1);
   line-height: 20pt;
   margin-top: -45px;
   font-weight: 300;
}
.bottle{
height: 50px;
width: 100%;
text-align: center;
margin-top: -90px;
margin-bottom: 110px;
font-size: 45px;
color: white;
justify-content: space-between;
font-weight: 100;
}
.pg5section2{
  /* margin: 100px; */
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 text-align: center;
 margin: auto;
 height: 50px;
 width: 300px;
 border: 1px solid white;
 border-radius: 20px;
  background: linear-gradient(220.26deg, rgba(255, 255, 255, 0.25) 1.52%, rgba(255, 255, 255, 0.025) 83.2%);
}
.usa{
    font-size: 22px;
   height: 50px;
   width: 150px;
   border-radius: 20px;
   background: transparent;
   border: 0cap;
   color: white;
}
.canada{
      font-size: 22px;
     height: 50px;
   width: 150px;
   border-radius: 20px;
    background: transparent;
    border: 0cap;
    color: white;
}
.canada:hover{
     font-size: 23px;
   background: linear-gradient(189.18deg, #FFFFFF 5.92%, #2E44BA 81.6%);
    color: black;
}
.usa:hover{
     font-size: 23px;
   background: linear-gradient(189.18deg, #FFFFFF 5.92%, #2E44BA 81.6%);
    color: black;
}
.h2ofpg52{
font-size: 80px;
color: white;
margin-top: -70px;
font-weight: 500;
}

.pg5section3{
     display: flex;
 flex-direction: row;
  /* margin:50px; */
padding-top: 30px;
}
.imgpg51{
height: 450px;
width: 790px;
margin-bottom: 240px;
object-fit: cover;
}
.pg5section3{
     display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 margin: auto;
 gap: 30px;
}
.pofpg51{
    font-size: 23px;
    color:rgba(255, 255, 255, 1);
    height: 490px;
    font-weight: 500;
    width: 800px;
    border: 1px solid white ;
    margin-bottom: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    background: linear-gradient(156.83deg, #FFFFFF -16.11%, #2E44BA 131.66%);
    color: rgba(20, 20, 20, 1);
    border-radius: 30px;
    line-height: 1.4;
}