.pagesix{
  height: 100%;
  width: 100%;
  background-image: url(../../assets/Page6backimg.jpg);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  padding-right: 41px;
  margin-left: -40px;
   margin-right: -40px;
}
.pagesixheading{
    height: 150px;
    /* width: 900; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin: 20px; */
    padding-top: 110px;

}
.h222{
    height: 60px;
    width: 650px;
    font-size: 45px;
    border: 1px solid white;
    background: rgba(181, 37, 46, 1);
    margin: auto;
    border-radius: 20px;
    padding-top: 10px;
    border: 0cap;
    color: white;
}
.containerr{
    /* padding-right: 20px; */
    height: 80vh;
    /* width: 400;  */
    align-items: center;
    justify-content: center;
    display: flex ;
    flex-wrap: nowrap;
}
.imgleft{
    height: 1200px;
    width: 500px;
}
.imgright{
      height: 1200px;
    width: 500px;
    /* margin-right: 70px */
}
.video{
  height: 490px;
  width: 1000px;
  margin-bottom: 230px;
  /* padding: 110px; */
   border-left: 85px solid black; 
 border-right: 85px solid black; 
 border-top: 25px solid black;
}
 /* border-left: 20px solid black; 
 border-right: 20px solid black; 
  border-radius: 20px; */