.pagesix {
    height: 120vh;
    width: 100%;
    background-image: url(../../assets/Page6backimg.jpg);
    background-position: center;
    background-size: cover;
}

.pagesixheading {
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
.containerr {
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -150px;
}
.h222 {
    height: 40px;
    width: 500px;
    font-size: 30px;
    border: 1px solid white;
    background: rgba(181, 37, 46, 1);
    margin: auto;
    border-radius: 20px;
    padding-top: 10px;
    border: 0cap;
    color: white;
}
.imgleft {
    margin-top: 320px;
    height: 700px;
    width: 400px;
}
.video1 {
    margin-top: 130px;
    height: 330px;
    width: 900px;
    margin-bottom: 20px;
    margin-right: 30px;
    border-left: 20px solid whitesmoke;
    border-right: 20px solid whitesmoke;
}
.imgright {
    margin-top: 320px;
    height: 700px;
    width: 400px;
    margin-right: 10px;
}
.img2left {
    margin-top: 500px;
    margin-right: -40px;
    height: 420px;
    width: 450px;

}
.video2 {
    margin-top: 130px;
    height: 330px;
    width: 900px;
    margin-bottom: 20px;
    margin-left: -20px;
    border-left: 20px solid whitesmoke;
    border-right: 20px solid whitesmoke;
}
.img2right {
    margin-top: 320px;
    height: 700px;
    width: 400px;
    margin-right: 80px;
    object-fit: cover;
}
.bg {
    height: 220px;
    width: 100%;
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    align-items: center;
    justify-content: center;
}

.arrowleft {
    align-items: center;
    justify-content: center;
    margin-left: 630px;
    border: 2px solid transparent;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-color: rgba(181, 37, 46, 1);
}

.arrowright {
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 2px solid transparent;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: rgba(181, 37, 46, 1);
}

.arrowleft.active {
    background-color: transparent;
    color: rgba(181, 37, 46, 1);
    border-color: rgba(181, 37, 46, 1);
}

.arrowright.active {
    background-color: transparent;
    color: rgba(181, 37, 46, 1);
    border-color: rgba(181, 37, 46, 1);
}
/* for medium laptop */
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .pagesix{
           height: 120vh;
    width: 100%;
    background-image: url(../../assets/Page6backimg.jpg);
    background-position: center;
    background-size: cover;
    }
    .pagesixheading{
          height: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }
    .containerr{
            height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -130px; 
    }
    .imgleft{
             margin-top: 300px;
    height: 600px;
    width: 250px;
    }
    .video1{
        margin-top: 150px;
    height: 250px;
    width: 460px;
    margin-bottom: 15px;
    margin-right: 20px;
    /* border-left: 15px solid whitesmoke;
    border-right: 15px solid whitesmoke;   */
    }
    .imgright{
     margin-top: 290px;
    height: 600px;
    width: 250px;
    margin-right: 10px;
    }
    .img2left{
               margin-top: 500px;
    height: 400px;
    width: 250px;
    }
    .video2{
           margin-top: 150px;
    height: 240px;
    width: 460px;
    margin-bottom: 15px;
    margin-right: 10px; 
    margin-left: 30px;
    }
    .img2right{
             margin-top: 290px;
    height: 600px;
    width: 250px;
    margin-right: 10px;
    }
    .bg{
            height: 280px;
    width: 100%;
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    align-items: center;
    justify-content: center;
    }
    .arrowleft{
           align-items: center;
    justify-content: center;
    margin-left: 460px;
    border: 2px solid transparent;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-color: rgba(181, 37, 46, 1);
    }
    .arrowright{
           align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 2px solid transparent;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: rgba(181, 37, 46, 1);
    }
} 
    
/* for tablets */
@media screen and (min-width:  425px) and (max-width: 768px) { 
    .pagesix{
           height: 120vh;
    width: 100%;
    background-image: url(../../assets/Page6backimg.jpg);
    background-position: center;
    background-size: cover;
    }
      .pagesixheading{
          height: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }
    .containerr{
            height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -130px; 
    }
    .imgleft{
             margin-top: 300px;
    height: 600px;
    width: 180px;
    }
    .video1{
        margin-top: 150px;
    height: 250px;
    width: 400px;
    margin-bottom: 15px;
    margin-right: -20px;
    margin-left: -20px;
    }
    .imgright{
             margin-top: 290px;
    height: 600px;
    width: 175px;
    }
    .img2left{
              margin-top: 400px;
    height: 300px;
    width: 180px;
    }
    .video2{
           margin-top: 150px;
    height: 250px;
    width: 400px;
    margin-bottom: 15px;
    margin-right: 20px;
    }
    .img2right{
             margin-top: 290px;
    height: 600px;
    width: 175px;
    margin-right: 10px;
    }
    .bg{
            height: 210px;
    width: 100%;
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    align-items: center;
    justify-content: center;
    }
    .arrowleft{
           align-items: center;
    justify-content: center;
    margin-left: 340px;
    border: 2px solid transparent;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-color: rgba(181, 37, 46, 1);
    }
    .arrowright{
           align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 2px solid transparent;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: rgba(181, 37, 46, 1);
    }
} 
  
/* for large mobiles */
@media screen and  (min-width:  375px) and (max-width: 425px) { 
    .pagesix{
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/Page6backimg.jpg);
    background-position: center;
    background-size: cover;
    }
     .pagesixheading{
          height: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }
    .h222{
        height: 20px;
    width: 250px;
    font-size: 15px;
    border: 1px solid white;
    background: rgba(181, 37, 46, 1);
    border-radius: 20px;
    padding-top: 2px;
    border: 0cap;
    color: white;
    }
    .containerr{
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -130px; 
    }
    .imgleft{
    margin-top: 300px;
    height: 600px;
    width: 180px;
    display: none;
    }
    .video1{
        margin-top: 40px;
    height: 200px;
    width: 370px;
    margin-bottom: 15px;
    } 
    .imgright{
             margin-top: 680px;
    height: 400px;
    width: 155px;
    margin-right: 30px;
    display: none;
    }
    .img2left{
              margin-top: 400px;
    height: 300px;
    width: 180px;
    display: none;
    }
    .video2{
           margin-top: 40px;
    height: 200px;
    width: 370px;
    margin-bottom: 15px;
    margin-left: 10px;
    }
    .img2right{
             margin-top: 290px;
    height: 600px;
    width: 175px;
    margin-right: 10px;
    display: none;
    }
    .bg{
            height: 210px;
    width: 100%;
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    align-items: center;
    justify-content: center;
    }
    .arrowleft{
           align-items: center;
    justify-content: center;
    margin-left: 180px;
    margin-top: -30px;
    border: 2px solid transparent;
    height: 15px;
    width: 15px;
    padding: 2px;
    border-radius: 20px;
    color: white;
    background-color: rgba(181, 37, 46, 1);
    }
    .arrowright{
           align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 2px solid transparent;
    height: 15px;
    width: 15px;
    padding: 2px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: rgba(181, 37, 46, 1);
    }
} 
   
/* for small tablets */
@media screen and (min-width:  320px) and (max-width: 375px) { 
    .pagesix{
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/Page6backimg.jpg);
    background-position: center;
    background-size: cover;
    }
     .pagesixheading{
          height: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }
    .h222{
        height: 20px;
    width: 250px;
    font-size: 15px;
    border: 1px solid white;
    background: rgba(181, 37, 46, 1);
    border-radius: 20px;
    padding-top: 2px;
    border: 0cap;
    color: white;
    }
    .containerr{
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -130px; 
    }
    .imgleft{
    margin-top: 300px;
    height: 600px;
    width: 180px;
    display: none;
    }
    .video1{
        margin-top: 40px;
    height: 200px;
    width: 340px;
    margin-bottom: 15px;
    margin-left: 25px;
    } 
    .imgright{
             margin-top: 680px;
    height: 400px;
    width: 155px;
    margin-right: 30px;
    display: none;
    }
    .img2left{
              margin-top: 400px;
    height: 300px;
    width: 180px;
    display: none;
    }
    .video2{
           margin-top: 40px;
    height: 200px;
    width: 340px;
    margin-bottom: 15px;
    margin-right: 20px;
    /* margin-right: 10px;  */
    margin-left: 25px;
    }
    .img2right{
             margin-top: 290px;
    height: 600px;
    width: 175px;
    margin-right: 10px;
    display: none;
    }
    .bg{
            height: 210px;
    width: 100%;
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    align-items: center;
    justify-content: center;
    }
    .arrowleft{
           align-items: center;
    justify-content: center;
    margin-left: 180px;
    margin-top: -30px;
    border: 2px solid transparent;
    height: 15px;
    width: 15px;
    padding: 2px;
    border-radius: 20px;
    color: white;
    background-color: rgba(181, 37, 46, 1);
    }
    .arrowright{
           align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 2px solid transparent;
    height: 15px;
    width: 15px;
    padding: 2px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: rgba(181, 37, 46, 1);
    } 
} 
   
/* for small mobils */
@media screen and (min-width: 200px) and (max-width: 320px) { 
    .pagesix{
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/Page6backimg.jpg);
    background-position: center;
    background-size: cover;
    }
     .pagesixheading{
          height: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }

    .h222{
        height: 20px;
    width: 250px;
    font-size: 15px;
    border: 1px solid white;
    background: rgba(181, 37, 46, 1);
    border-radius: 20px;
    padding-top: 2px;
    border: 0cap;
    color: white;
    }
    .containerr{
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -130px; 
    }
    .imgleft{
    display: none;
    }
    .video1{
        margin-top: 40px;
    height: 200px;
    width: 280px;
    margin-bottom: 15px;
    }
    .imgright{
             margin-top: 680px;
    height: 400px;
    width: 155px;
    margin-right: 30px;
    display: none;
    }
    .img2left{
              margin-top: 400px;
    height: 300px;
    width: 180px;
    display: none;
    }
    .video2{
           margin-top: 40px;
    height: 200px;
    width: 280px;
    margin-bottom: 15px;
    margin-right: 20px;
    /* margin-right: 10px;  */
    margin-left: 25px;
    /* border-left: 15px solid whitesmoke;
    border-right: 15px solid whitesmoke;   */
    }
    .img2right{
             margin-top: 290px;
    height: 600px;
    width: 175px;
    margin-right: 10px;
    display: none;
    }
    .bg{
            height: 210px;
    width: 100%;
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    align-items: center;
    justify-content: center;
    }
    .arrowleft{
           align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-top: -20px;
    border: 2px solid transparent;
    height: 15px;
    width: 15px;
    padding: 2px;
    border-radius: 20px;
    color: white;
    background-color: rgba(181, 37, 46, 1);
    }
    .arrowright{
           align-items: center;
    justify-content: center;
    margin-left: 10px;
  
    border: 2px solid transparent;
    height: 15px;
    width: 15px;
    padding: 2px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: rgba(181, 37, 46, 1);
    }
} 
   