.pagesix {
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/Page6backimg.jpg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* padding-right: 41px;
    margin-left: -40px;
    margin-right: -40px; */
}

.pagesixheading {
    height: 150px;
    /* width: 900; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin: 20px; */
    padding-top: 40px;

}

.h222 {
    height: 40px;
    width: 500px;
    font-size: 30px;
    border: 1px solid white;
    background: rgba(181, 37, 46, 1);
    margin: auto;
    border-radius: 20px;
    padding-top: 10px;
    border: 0cap;
    color: white;
}

.containerr {
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -150px;
}

.imgleft {
    height: 700px;
    width: 400px;
}

.imgright {
    height: 700px;
    width: 400px;
}

.video {
    height: 330px;
    width: 900px;
    margin-bottom: 20px;
    margin-right: 30px;
    border-left: 20px solid whitesmoke;
    border-right: 20px solid whitesmoke;
}