.txtandimg {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.backimgpg2 {
    height: 120vh;
    width: 100%;
    background-image: url("/src/assets/backimage.jpg");
    background-size: cover;
}

.txtandimg {
    padding-top: 60px;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: start;
    display: flex;
    flex-direction: row;
    gap: 50px;
    word-spacing: -2px;
}
.txtpg2 {
    padding-left: 50px;

}
.headingg1 {
    font-size: 22px;
    height: 27px;
    width: 450px;
    padding: 15px 30px 15px 30px;
    border: 1px solid white;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(181, 37, 46, 1);
    border-radius: 20px;
    font-weight: 470;

}

.heading2 {
    font-size: 50px;
    font-weight: 450;
    color: rgba(20, 20, 20, 1);
    margin-bottom: -0px;
    margin-top: 5px;
}

.heading3 {
    margin-top: -5px;
    font-size: 18px;
    color: rgba(20, 20, 20, 1);

}

.imgp2 {
    background: linear-gradient(221.65deg, rgba(181, 37, 46, 0) 43.49%, #D01621 76.83%);
    height: 375px;
    border-radius: 20px 0 20px 0;
    width: 450px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.imgpg2 {
    height: 350px;
    width: 400px;
    border-radius: 25px 25px 0px 0px;
    border: 15px solid white;
}
.headingscolor {
    color: rgba(181, 37, 46, 1);
}

/* for laptop screen */
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .backimgpg2{
      height: 115vh;
    width: 100%;
    background-image: url("/src/assets/backimage.jpg");
    background-size: cover;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .txtandimg{
       padding-top: 0px;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: start;
    display: flex;
    flex-direction: row;
    gap: 0px;
    word-spacing: -2px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .txtpg2{
      height: 300px;
    width: 350px;
    border-radius: 25px 25px 0px 0px;
    /* border: 15px solid white; */
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .headingg1{
       font-size: 17px;
    height: 27px;
    width: 350px;
    padding: 15px 30px 15px 30px;
    border: 1px solid white;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(181, 37, 46, 1);
    border-radius: 20px;
    font-weight: 470;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .heading2{
      font-size: 35px;
    font-weight: 450;
    color: rgba(20, 20, 20, 1);
    margin-bottom: -0px;
    margin-top: 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .heading3{
        height: 50;
        width: 450px;
       margin-top: -5px;
    font-size: 12px;
    color: rgba(20, 20, 20, 1);
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .imgp2{
       background: linear-gradient(221.65deg, rgba(181, 37, 46, 0) 43.49%, #D01621 76.83%);
    height: 318px;
    border-radius: 20px 0 20px 0;
    width: 390px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 160px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .imgpg2{
      height: 280px;
    width: 330px;
    border-radius: 25px 25px 0px 0px;
    border: 15px solid white;
    }
    /* image */
}

/* for tablets */

@media screen and (min-width: 425px) and (max-width: 768px) { 
    .backimgpg2{
      height: 100vh;
    width: 100%;
    background-image: url("/src/assets/backimage.jpg");
    background-size: cover;
 
    }
}
@media screen and (min-width: 425px) and (max-width:  768px) { 
    .txtandimg{
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: start;
    display: flex;
    flex-direction: row;
    gap: 40px;
    word-spacing: -2px;
    }
}
@media screen and (min-width: 425px) and (max-width:  768px) { 
    .txtpg2{
      height: 300px;
    width: 350px;
    border-radius: 25px 25px 0px 0px;
    /* border: 15px solid white; */
    }
}
@media screen and (min-width: 425px) and (max-width:  768px) { 
    .headingg1{
       font-size: 15px;
    height: 22px;
    width: 300px;
    padding: 15px 30px 15px 30px;
    border: 1px solid white;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(181, 37, 46, 1);
    border-radius: 20px;
    font-weight: 470;
    }
}
@media screen and (min-width: 425px) and (max-width:  768px) { 
    .heading2{
      font-size: 30px;
    font-weight: 450;
    color: rgba(20, 20, 20, 1);
    margin-bottom: -0px;
    margin-top: 5px;
    }
}
@media screen and (min-width: 425px) and (max-width:  768px) { 
    .heading3{
        height: 50;
        width: 450px;
       margin-top: -5px;
    font-size: 12px;
    color: rgba(20, 20, 20, 1);
    }
}
@media screen and (min-width: 425px) and (max-width:  768px) { 
    .imgp2{
       background: linear-gradient(221.65deg, rgba(181, 37, 46, 0) 43.49%, #D01621 76.83%);
    height: 225px;
    border-radius: 20px 0 20px 0;
    width: 335px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 160px;
    }
}
@media screen and (min-width: 425px) and (max-width:  768px) { 
    .imgpg2{
      height: 200px;
    width: 250px;
    border-radius: 25px 25px 0px 0px;
    border: 15px solid white;
    }
    /* image */
}

/* for mobile */
@media screen and (min-width: 375px) and (max-width: 425px) { 
    .backimgpg2{
      height: 130vh;
    width: 100%;
    background-image: url("/src/assets/backimage.jpg");
    background-size: cover;
 
    }
}
@media screen and (min-width: 375px) and (max-width:  425px) { 
    .txtandimg{
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 50px;
    word-spacing: -2px;
    }
}
@media screen and (min-width: 375px) and (max-width:  425px) { 
    .txtpg2{
      height: 200px;
    /* width: 300px; */
    /* padding-left: 50px; */
    border-radius: 25px 25px 0px 0px;
    /* border: 15px solid white; */
    }
}
@media screen and (min-width: 375px) and (max-width:  425px) { 
    .headingg1{
       font-size: 12px;
    height: 22px;
    width: 250px;
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(181, 37, 46, 1);
    border-radius: 20px;
    font-weight: 470;
    }
}
@media screen and (min-width: 375px) and (max-width:  425px) { 
    .heading2{
      font-size: 25px;
    font-weight: 450;
    color: rgba(20, 20, 20, 1);
    margin-bottom: -0px;
    margin-top: 5px;
    }
}
@media screen and (min-width: 375px) and (max-width:  425px) { 
    .heading3{
        height: 50;
        width: 350px;
       margin-top: -5px;
    font-size: 11px;
    color: rgba(20, 20, 20, 1);
    }
}
@media screen and (min-width: 375px) and (max-width:  425px) { 
    .imgp2{
       background: linear-gradient(221.65deg, rgba(181, 37, 46, 0) 43.49%, #D01621 76.83%);
    height: 215px;
    border-radius: 20px 0 20px 0;
    width: 280px;
    /* padding-left: 20px; */
    /* padding-bottom: 20px; */
    /* margin-top: 160px; */
    margin-left: 20px;
    }
}
@media screen and (min-width: 375px) and (max-width:  425px) { 
    .imgpg2{
      height: 180px;
    width: 230px;
    border-radius: 25px 25px 0px 0px;
    border: 15px solid white;
    }
    /* image */
}
