.header {
    /* font-family: "Poppins", sans-serif; */
    /* font-weight: 300; */
    /* font-style: normal; */
}

.header {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: fixed;
}

.info a.active {
    color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    padding-top: 5px;
    border-radius: 10px;
    transition: 0.30s;
    font-weight: 400;
}

.img1 {
    height: 200px;
    width: 200px;
    padding-top: 35px;
}

.info {
    color: rgba(255, 255, 255, 1);
    height: 40px;
    width: 800px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    padding: 10px 5px 10px 5px;
    gap: 20px;
    border-radius: 20px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(50px);
    cursor: pointer;
    font-weight: 400;

}

.contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.icon:hover {
    color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.55s;
    font-weight: 400;
}

.cont:hover {
    color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    /* padding: 5px 30px 5px 30px; */
    border-radius: 10px;
    transition: 0.55s;
    font-weight: 400;
}

.cont {
    height: 20px;
    border: 1px solid white;
    width: 100px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
}

.headerlink {
    text-decoration: none;
    color: white;
}

.home {
    font-weight: 400;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding-top: 2px;
}

.about {
    font-weight: 400;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding-top: 2px;
}

.product {
    font-weight: 400;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding-top: 2px;
}

.order {
    font-weight: 400;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding-top: 2px;
}

.productone {
    font-weight: 400;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding: 2px;
}