.header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header{
    height: 15vh;
    width: 100vw; 
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   color: white;
   font-size: 10px;
   position: fixed;
  /* gap: 10px; */
}
.img1{
height: 250px;
width: 250px;
/* padding-bottom: 45px; */
padding-top: 35px;
}
.info{
    color: rgba(255, 255, 255, 1);
    height: 40px;
    width: 1100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    padding: 20px 10px 20px 10px;
    gap: 120px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgba(0, 0,0, 0.23);
   backdrop-filter: blur(15px);
   margin-right: 120px;
}
.home:hover{
    color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    transition: 0.55s;
}
.about:hover{
    color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    transition: 0.55s;
}
.product :hover{
    color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    transition: 0.55s;
}
.product:hover{
    color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    transition: 0.55s;
}
.order:hover{
    color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    transition: 0.55s;
}
.contact{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size:13px ;
    align-items: center;
    justify-content: center;
}

.header2img{
    height: 40px;
    width: 40px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}
.cont{
    height: 40px;
    border: 1px solid white;
    width: 130px;
    text-align: center;
    padding: 10px; 
    border-radius: 10px;
}
