.header {
    /* font-family: "Poppins", sans-serif; */
    /* font-weight: 300; */
    /* font-style: normal; */
}

.header {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: fixed;
    /* background-color: black; */
}
.ham{
    height: 20px;
    width: 220px;
    display: none;
}

.info a.active {
    color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    padding-top: 5px;
    border-radius: 10px;
    transition: 0.30s;
    font-weight: 400;
}

.img1 {
    height: 200px;
    width: 200px;
    padding-top: 35px;
}

.info {
    color: rgba(255, 255, 255, 1);
    height: 40px;
    width: 800px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    padding: 10px 5px 10px 5px;
    gap: 20px;
    border-radius: 20px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(50px);
    cursor: pointer;
    font-weight: 400;

}

.contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.icon:hover {
    color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.55s;
    font-weight: 400;
}

.cont:hover {
    color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    /* padding: 5px 30px 5px 30px; */
    border-radius: 10px;
    transition: 0.55s;
    font-weight: 400;
}

.cont {
    height: 20px;
    border: 1px solid white;
    width: 100px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
}

.headerlink {
    text-decoration: none;
    color: white;
}

.home {
    font-weight: 400;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding-top: 2px;
}

.about {
    font-weight: 400;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding-top: 2px;
}

.product {
    font-weight: 400;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding-top: 2px;
}

.order {
    font-weight: 400;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding-top: 2px;
}

.productone {
    font-weight: 400;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding: 2px;
}
/* for small laptops */
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .header{
       height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: fixed;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .info a.active{
       color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    padding-top: 5px;
    border-radius: 10px;
    transition: 0.30s;
    font-weight: 400;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .img1{
         height: 180px;
    width: 180px;
    padding-top: 30px;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .info{
         color: rgba(255, 255, 255, 1);
    height: 35px;
    width: 600px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    padding: 10px 5px 10px 5px;
    gap: 10px;
    border-radius: 20px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(50px);
    cursor: pointer;
    font-weight: 400;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .contact{
         display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .icon{
      height: 30px;
    width: 27px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .icon:hover{
        color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.55s;
    font-weight: 400;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .cont:hover{
         color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    /* padding: 5px 30px 5px 30px; */
    border-radius: 10px;
    transition: 0.55s;
    font-weight: 400;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .cont{
         height: 20px;
    border: 1px solid white;
    width: 90px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .headerlink{
         text-decoration: none;
    color: white;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .home{
         font-weight: 400;
    width: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    padding-top: 2px;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .about{
         font-weight: 400;
    width: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    padding-top: 2px;
    }
} 
@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .product{
         font-weight: 400;
    width: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    padding-top: 2px;
    }
}@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .order{
       font-weight: 400;
    width: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    padding-top: 2px;
    }
}@media screen and (min-width:  768px) and (max-width: 1024px) { 
    .productone{
      font-weight: 400;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding: 2px;
    }
}
 @media screen and  (min-width:  768px) and (max-width: 10254px) { 
    .inf{
        display: none;
    }
}
/* for tablets */
 @media screen and  (min-width:  425px) and (max-width: 768px) { 
    .inf{
        display: none;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .header{
       height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: fixed;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .info a.active{
       color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    padding-top: 0px;
    border-radius: 10px;
    transition: 0.30s;
    font-weight: 400;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .img1{
         height: 150px;
    width: 140px;
    padding-top: 30px;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .info{
         color: rgba(255, 255, 255, 1);
    height: 30px;
    width: 410px;
    margin-left: -10px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    padding: 5px 0px 5px 0px;
    gap: 0px;
    border-radius: 15px;
    font-size: 8px;
    background-color: rgba(0, 0, 0, 0.23);
    backdrop-filter: blur(50px);
    cursor: pointer;
    font-weight: 400;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .contact{
         display: flex;
    flex-direction: row;
    gap: 6px;
    font-size: 8px;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .icon{
      height: 20px;
    width: 22px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .icon:hover{
        color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.55s;
    font-weight: 400;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .cont:hover{
         color: rgba(181, 37, 46, 1);
    background-color: white;
    border: 1px solid white;
    /* padding: 5px 30px 5px 30px; */
    border-radius: 10px;
    transition: 0.55s;
    font-weight: 400;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .cont{
         height: 18px;
    border: 1px solid white;
    width: 67px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .headerlink{
         text-decoration: none;
    color: white;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .home{
         font-weight: 400;
    width: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 22px;
    padding-top: 2px;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .about{
         font-weight: 400;
    width: 70px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 22px;
    padding-top: 2px;
    }
} 
@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .product{
         font-weight: 400;
    width: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 22px;
    padding-top: 2px;
    }
}@media screen and  (min-width:  425px) and (max-width: 768px) { 
    .order{
       font-weight: 400;
    width: 75px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 22px;
    padding-top: 2px;
    }
}@media screen and  (min-width:  425px) and (max-width: 768px){ 
    .productone{
      font-weight: 400;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    padding: 2px;
    }
}
/* for small tablets */
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .ham{
        display: block;
        /* height: 90px !important;
        width: 90px !important; */
        /* margin-top: 20px; */
    }
}
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .img1{
        display: none;
    }
}
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .info{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        display: none;
    }
}
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .inf{
        display: flex;
        flex-direction: row;
        align-items: start;
        display: block;
        text-align: start;
        justify-content: start;
    }
}
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .header{
        display: flex;
        height: 22vh;
        flex-direction: row;
        display: block;
        /* justify-content: space-around; */
        font-size: 10px;
        width: 100px;
        height: 20vh;
        /* border: 1px solid white; */
        width: 80px;
        background-color: transparent;
        /* border-radius: 0px 10px 10px 0px; */
    }
}
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .hamm{
      height: 20px;
      width: 20px;
      margin-top: 2px;
    }
}
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .home{
     font-size: 12px;
     text-align: start;
     border: 1px solid white;
      border-radius: 0px 10px 10px 0px;
     margin-top: 2px;
     height: 20px;
     width: 45px;
     padding-left: 6px;
      /* margin-top: 10px; */
    }
}
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .hamburger{
     height: 30vh;
     width: 100px;
    background-color: transparent;
      transition-duration: 0.10s;
    transition: 0.10s ease-in;
    background-color: #9c2424;
    padding: 5px;
       border-radius: 0px 10px 10px 0px;
    }
}
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .home:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .about:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .product:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .order:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .about{
     font-size: 12px;
     text-align: start;
       border: 1px solid white;
     border-radius: 0px 10px 10px 0px;
     margin-top: 10px;
     height: 20px;
     width: 60px;
     padding-left: 6px;
     background: transparent;
    }
}@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .product{
     font-size: 12px;
     text-align: start;
       border: 1px solid white;
     border-radius: 0px 10px 10px 0px;
     margin-top: 2px;
     height: 20px;
     width: 80px;
     padding-left: 6px;
     margin-top: 10px;
    }
}@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .order{
     font-size: 12px;
     text-align: start;
     border: 1px solid white;
     border-radius: 0px 10px 10px 0px;
     margin-top: 2px;
     height: 20px;
     width: 70px;
     padding-left: 6px;
      margin-top: 10px;
    }
}

@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .icon{
        display: none;
    }
}
@media screen and  (min-width:  375px) and (max-width: 425px){ 
    .cont{
        display: none;
    }
}
/* for small tablets */
@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .ham{
        display: block;
        /* height: 90px !important;
        width: 90px !important; */
        /* margin-top: 20px; */
    }
}
@media screen and (min-width:  320px) and (max-width: 375px){ 
    .img1{
        display: none;
    }
}
@media screen and (min-width:  320px) and (max-width: 375px){ 
    .info{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        display: none;
    }
}
@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .inf{
        display: flex;
        flex-direction: row;
        align-items: start;
        display: block;
        text-align: start;
        justify-content: start;
    }
}
@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .header{
        display: flex;
        height: 22vh;
        flex-direction: row;
        display: block;
        /* justify-content: space-around; */
        font-size: 10px;
        width: 100px;
        height: 20vh;
        /* border: 1px solid white; */
        width: 80px;
        background-color: transparent;
        /* border-radius: 0px 10px 10px 0px; */
    }
}
@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .hamm{
      height: 20px;
      width: 20px;
      margin-top: 2px;
    }
}
@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .home{
     font-size: 12px;
     text-align: start;
     border: 1px solid white;
      border-radius: 0px 10px 10px 0px;
     margin-top: 2px;
     height: 20px;
     width: 45px;
     padding-left: 6px;
      /* margin-top: 10px; */
    }
}
@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .hamburger{
     height: 30vh;
     width: 100px;
    background-color: transparent;
      transition-duration: 0.10s;
    transition: 0.10s ease-in;
    background-color: #9c2424;
    padding: 5px;
       border-radius: 0px 10px 10px 0px;
    }
}
@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .home:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .about:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .product:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and (min-width:  320px) and (max-width: 375px){ 
    .order:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .about{
     font-size: 12px;
     text-align: start;
       border: 1px solid white;
     border-radius: 0px 10px 10px 0px;
     margin-top: 10px;
     height: 20px;
     width: 60px;
     padding-left: 6px;
     background: transparent;
    }
}@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .product{
     font-size: 12px;
     text-align: start;
       border: 1px solid white;
     border-radius: 0px 10px 10px 0px;
     margin-top: 2px;
     height: 20px;
     width: 80px;
     padding-left: 6px;
     margin-top: 10px;
    }
}@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .order{
     font-size: 12px;
     text-align: start;
     border: 1px solid white;
     border-radius: 0px 10px 10px 0px;
     margin-top: 2px;
     height: 20px;
     width: 70px;
     padding-left: 6px;
      margin-top: 10px;
    }
}

@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .icon{
        display: none;
    }
}
@media screen and  (min-width:  320px) and (max-width: 375px){ 
    .cont{
        display: none;
    }
}
/* for mobiles phones */
@media screen and (min-width: 200px) and (max-width: 320px){ 
    .ham{
        display: block;
        /* height: 90px !important;
        width: 90px !important; */
        /* margin-top: 20px; */
    }
}
@media screen and (min-width: 200px) and (max-width: 320px){ 
    .img1{
        display: none;
    }
}
@media screen and (min-width: 200px) and (max-width: 320px){ 
    .info{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        display: none;
    }
}
@media screen and  (min-width: 200px) and (max-width: 320px){ 
    .inf{
        display: flex;
        flex-direction: row;
        align-items: start;
        display: block;
        text-align: start;
        justify-content: start;
    }
}
@media screen and  (min-width: 200px) and (max-width: 320px){ 
    .header{
        display: flex;
        height: 22vh;
        flex-direction: row;
        display: block;
        /* justify-content: space-around; */
        font-size: 10px;
        width: 100px;
        height: 20vh;
        /* border: 1px solid white; */
        width: 80px;
        background-color: transparent;
        /* border-radius: 0px 10px 10px 0px; */
    }
}
@media screen and (min-width: 200px) and (max-width: 320px){ 
    .hamm{
      height: 25px;
      width: 25px;
      margin-top: 5px;
    }
}
@media screen and  (min-width: 200px) and (max-width: 320px){ 
    .home{
     font-size: 12px;
     text-align: start;
     border: 1px solid white;
      border-radius: 0px 10px 10px 0px;
     margin-top: 2px;
     height: 20px;
     width: 45px;
     padding-left: 6px;
      /* margin-top: 10px; */
    }
}
@media screen and (min-width: 200px) and (max-width: 320px){ 
    .hamburger{
     height: 30vh;
     width: 100px;
    background-color: transparent;
      transition-duration: 0.10s;
    transition: 0.10s ease-in;
    background-color: #9c2424;
    padding: 5px;
       border-radius: 0px 10px 10px 0px;
    }
}
@media screen and  (min-width: 200px) and (max-width: 320px){ 
    .home:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and  (min-width: 200px) and (max-width: 320px){ 
    .about:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and (min-width: 200px) and (max-width: 320px){ 
    .product:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and (min-width: 200px) and (max-width: 320px){ 
    .order:hover{
     background-color: white;
       color: rgba(181, 37, 46, 1);
    }
} 
@media screen and  (min-width: 200px) and (max-width: 320px){ 
    .about{
     font-size: 12px;
     text-align: start;
       border: 1px solid white;
     border-radius: 0px 10px 10px 0px;
     margin-top: 10px;
     height: 20px;
     width: 60px;
     padding-left: 6px;
     background: transparent;
    }
}@media screen and  (min-width: 200px) and (max-width: 320px){ 
    .product{
     font-size: 12px;
     text-align: start;
       border: 1px solid white;
     border-radius: 0px 10px 10px 0px;
     margin-top: 2px;
     height: 20px;
     width: 80px;
     padding-left: 6px;
     margin-top: 10px;
    }
}@media screen and  (min-width: 200px) and (max-width: 320px){ 
    .order{
     font-size: 12px;
     text-align: start;
     border: 1px solid white;
     border-radius: 0px 10px 10px 0px;
     margin-top: 2px;
     height: 20px;
     width: 70px;
     padding-left: 6px;
      margin-top: 10px;
    }
}

@media screen and  (min-width: 200px) and (max-width: 320px){ 
    .icon{
        display: none;
    }
}
@media screen and  (min-width: 200px) and (max-width: 320px){ 
    .cont{
        display: none;
    }
}


